PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=myapp
JWT_SECRET=sua_chave_secreta_aqui
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
# Destino das mensagens do formulário de contato
CONTACT_TO=contato@sergiopimenta.com.br
